* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  flex: 1;
  background-color: rgb(210, 234, 254);
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 20px;
  border-top: 2px solid black;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav_contatiner {
  display: flex;
  gap: 20px;
}

.link {
  font-size: 24px;
  font-weight: bold;
}
